<div
  class="static-slider-head"
  style="background-image: url(assets/images/landingpage/banner-bg.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title">Online e Grátis</h1>
        <h5 class="subtitle op-5">
          Esta estudando ou trabalhando sobre unidade de medidas? Veja essa nova ferramenta
          online grátis que está ajudando muita gente.
        </h5>

        <a
          href="https://converterui.com"
          class="btn btn-md m-t-30 btn-success-gradiant font-14"
          target="blank"
          >Veja aqui</a
        >
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container spacer">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-8 no-trans text-center">
      <h2 class="title">Blogs Recentes</h2>
      <h6 class="subtitle">
        Venha conhecer tudo sobre unidades de medida em nossos Blogs e procurar saber qual a unidade da sua mente convertida em conteúdo de qualidade.
      </h6>
    </div>
    <!-- Column -->
  </div>
  <div class="row m-t-40 justify-content-center">
    <!-- Column -->
    <div
      class="col-md-8 no-trans border-bottom mb-4"
      *ngFor="let bl of service.Blogs"
    >
      <div class="card" data-aos="flip-left" data-aos-duration="1200">
        <div class="row">
          <div class="col-md-2 no-trans">
            <span class="text-dark font-medium">{{ bl.blogDate }}</span>
            <h6 class="card-subtitle font-12 mt-1">By Hevelyns G.</h6>
          </div>
          <div class="col-md-7 no-trans">
            <h5 class="font-medium cursor-pointer" (click)="viewDetail(bl.id)">
              {{ bl.heading.substring(0, 50) }}..
            </h5>
            <p class="m-t-20">
              {{ bl.subHeading }}
            </p>
            <a href="https://www.feelingsurf.fr/r/65875"><img src="https://www.feelingsurf.fr/images/feelingsurf_468x60_en.png" width="468" height="60" alt="Free traffic exchange. Get mobile, organic and social media visits. Auto click links. Earn or purchase traffic. 4 billion visits exchanged since 2007."></a>
          </div>
          <div class="col-md-3 no-trans">
            <a
              class="linking font-medium text-themecolor m-t-10 cursor-pointer"
            >
              <span (click)="viewDetail(bl.id)">Continuar Lendo</span>
              <i class="ti-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

